@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap';
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  scroll-behavior:smooth
}
::-webkit-scrollbar
{
  width:13px
  }
  ::-webkit-scrollbar-track
  {
    background:#f1f1f1;
  }
::-webkit-scrollbar-thumb
{
  background:#FA8072;
  border-radius:12px;
  transition:all .3s ease
}
::-webkit-scrollbar-thumb:hover{
  background:#FA8072;
}
nav{
  position:fixed;
  width:100%;
  padding:20px 0;
  z-index:998;
  transition:all .3s ease;
  font-family:ubuntu,sans-serif
}
nav.sticky{
  background:#fff;
  padding:1px 0
}
nav.sticky .navbarr{
  background:#fff;
  padding:1px 0
}
nav.sticky .navbar{
  background:#FA8072;
  padding:2px 0
}
nav .navbar{
  width:97%;display:flex;
  justify-content:space-between;
  align-items:center;
  margin:auto
}
nav .navbarr .logo a{
  font-weight:500;
  font-size:35px;
  color:#FA8072
  }
  nav.sticky .navbarr .logo a{
    color:#FA8072

  }
nav .navbar .menu{
  display:flex;
  position:relative
  }
  nav .navbar .menu{
    list-style-type : square;
    margin:0 5px
    }
    .navbar  a{
      font-size:18px;
      font-weight:500;
      color:#0e2431;
      padding:6px 0;
      transition:all .4s ease
      }
      .navbar  a:hover{
        color:#FA8072;
        }
        nav.sticky .menu a{
          color:#fff
          }
          nav.sticky .menu a:hover
          {color:#0e2431
            }
            .navbar .media-icons a{
              color:#FA8072;
              font-size:18px;
              margin:0 6px
              }
              nav.sticky .media-icons a{
                color:#fff
                }
                nav .menu-btn,.navbar .menu .cancel-btn{
                  position:absolute;
                  color:#0e2431;
                  right:30px;
                  top:20px;
                  font-size:20px;
                  cursor:pointer;
                  transition:all .3s ease;
                  display:none
                }
nav .menu-btn{
  margin-top:8px;
  color:#4070f4
}
nav.sticky .menu-btn{
  margin-top:0;
  color:#fff
}
.navbar .menu .menu-btn{
  color:#fff
}
.background{
  background:url(background.png) no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  height:100vh;
  width:100%;


}
.home{

  font-family:ubuntu,sans-serif
  }.home .home-content{
    width:90%;
    height:100%;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:center
    }.home .text-one{
      font-size:30px;
      color:#0e2431}
      .home .text-two{
        color:#FA8072;
        font-size:25px;
        font-weight:100;
        margin-left:-3px
      }
.home .text-three{
  font-size:20px;
  margin:5px 0;
  color:#FA8072}
.home .text-four{
  font-size:23px;
  margin:5px 0;
  color:#0e2431}
  .home .button{
    margin:14px 0
    }.home .button button{
      outline:none;
      padding:8px 16px;
      border-radius:6px;
      font-size:25px;
      font-weight:400;
      background:#4070f4;
      color:#fff;
      cursor:pointer;
      border:2px solid transparent;
      transition:all .4s ease
      }.home .button button:hover{
        border-color:#FA8072;
        background-color:#fff;
        color:#FA8072
        }
        section{
          padding-top:40px
          }section .content{
            width:80%;
            margin:40px auto;
            font-family:poppins,sans-serif
          }
.about .about-details{
  display:flex;
  justify-content:space-between;
  align-items:center
}
section .title{
  display:flex;
  justify-content:center;
  margin-bottom:40px
  }
  section .title span
  {
    color:#0e2431;
    font-size:30px;
    font-weight:600;
    position:relative;
    padding-bottom:8px
    }
    section .title span::before,section .title span::after{
      content:'';
      position:absolute;
      height:3px;
      width:100%;
      background:#FA8072;
      left:0;bottom:0
      }
      section .title span::after{
        bottom:-7px;
        width:70%;
        left:50%;
        transform:translateX(-50%)
        }
        .about .about-details .left{
          width:45%
        }
.about .left img{
  height:400px;
  width:400px;
  object-fit:cover;
  border-radius:12px
  }
  .about-details .right{
    width:55%
  }
section .topic{
  color:#0e2431;
  font-size:25px;
  font-weight:500;
  margin-bottom:10px
}
.about-details .right p
{
  text-align:justify;
  color:#0e2431
  }



  .about .boxes{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between
  }
  .about .boxes .box{
    margin:20px 0;
    height:230px;width:480px;
    width:;
    text-align:center;
    border-radius:12px;
    padding:30px 10px;
    box-shadow:0 5px 10px rgba(0,0,0,.12);
    cursor:default;
    transition:all .4s ease
    }
    .about .boxes .box:hover{
      background:#FA8072;
      color:#fff
      }
      .about .boxes .box .icon {
        height:50px;width:50px;
        background:#FA8072;
        border-radius:50%;
        text-align:center;
        line-height:50px;
        font-size:18px;
        color:#fff;
        margin:0 auto 10px;
        transition:all .4s ease
      }
  .boxes .box:hover .icon{
    background-color:#fff;
    color:#FA8072
  }

  .about .boxes .box:hover ,.about .boxes .box:hover p{
    color:#0e2431;
    transition:all .1s ease
  }
  .about .boxes .box:hover ,.about .boxes .box:hover p{

    color:#fff
    }

    .skills .skill-details{
      display:flex;
      justify-content:space-between;
      align-items:center
    }
    section .title{
      display:flex;
      justify-content:center;
      margin-bottom:40px
      }
      section .title span
      {
        color:#0e2431;
        font-size:30px;
        font-weight:600;
        position:relative;
        padding-bottom:8px
        }
        section .title span::before,section .title span::after{
          content:'';
          position:absolute;
          height:3px;
          width:100%;
          background:#FA8072;
          left:0;bottom:0
          }
          section .title span::after{
            bottom:-7px;
            width:70%;
            left:50%;
            transform:translateX(-50%)
            }
            .skills .skill-details .right{
              width:45%
            }
    .skills .right img{

      height:400px;
      width:400px;
      object-fit:cover;
      border-radius:12px
      }
      .skill-details .left{
        width:55%
      }
    section .topic{
      color:#0e2431;
      font-size:25px;
      font-weight:500;
      margin-bottom:10px
    }
    .skill-details .left p{
      text-align:justify;
      color:#0e2431
      }



      .skills .boxes{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between
      }
      .skills .boxes .box{
        margin:20px 0;
        height:230px;width:480px;
        width:;
        text-align:center;
        border-radius:12px;
        padding:30px 10px;
        box-shadow:0 5px 10px rgba(0,0,0,.12);
        cursor:default;
        transition:all .4s ease
        }
        .skills .boxes .box:hover{
          background:#FA8072;
          color:#fff
          }
          .skills .boxes .box .icon {
            height:50px;width:50px;
            background:#FA8072;
            border-radius:50%;
            text-align:center;
            line-height:50px;
            font-size:18px;
            color:#fff;
            margin:0 auto 10px;
            transition:all .4s ease
          }
      .boxes .box:hover .icon{
        background-color:#fff;
        color:#FA8072
      }

      .skills .boxes .box:hover ,.skills .boxes .box:hover p{
        color:#0e2431;
        transition:all .1s ease
      }
      .skills .boxes .box:hover ,.skills .boxes .box:hover p{

        color:#fff
        }


        .services .service-details{
          display:flex;
          justify-content:space-between;
          align-items:center
        }
        section .title{
          display:flex;
          justify-content:center;
          margin-bottom:40px
          }
          section .title span
          {
            color:#0e2431;
            font-size:30px;
            font-weight:600;
            position:relative;
            padding-bottom:8px
            }
            section .title span::before,section .title span::after{
              content:'';
              position:absolute;
              height:3px;
              width:100%;
              background:#FA8072;
              left:0;bottom:0
              }
              section .title span::after{
                bottom:-7px;
                width:70%;
                left:50%;
                transform:translateX(-50%)
                }
                .services .service-details .right{
                  width:45%
                }
        .services .right img{

          height:400px;
          width:400px;
          object-fit:cover;
          border-radius:12px
          }
          .service-details .left{
            width:55%
          }
        section .topic{
          color:#0e2431;
          font-size:25px;
          font-weight:500;
          margin-bottom:10px
        }
        .service-details .left p{
          text-align:justify;
          color:#0e2431
          }



          .services .boxes{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-between
          }
          .services .boxes .box{
            margin:20px 0;
            height:230px;width:480px;
            width:;
            text-align:center;
            border-radius:12px;
            padding:30px 10px;
            box-shadow:0 5px 10px rgba(0,0,0,.12);
            cursor:default;
            transition:all .4s ease
            }
            .services .boxes .box:hover{
              background:#FA8072;
              color:#fff
              }
              .services .boxes .box .icon {
                height:50px;width:50px;
                background:#FA8072;
                border-radius:50%;
                text-align:center;
                line-height:50px;
                font-size:18px;
                color:#fff;
                margin:0 auto 10px;
                transition:all .4s ease
              }
          .boxes .box:hover .icon{
            background-color:#fff;
            color:#FA8072
          }

          .services .boxes .box:hover ,.services .boxes .box:hover p{
            color:#0e2431;
            transition:all .1s ease
          }
          .services .boxes .box:hover ,.services .boxes .box:hover p{

            color:#fff
            }
  .contact{
    background:#fff
  }
.contact .content{
  margin:0 auto;
  padding:10px 0
  }
  .contact .text{
    width: 80%;
    text-align:center;
    font-size: 15px;
    font-family: Poppins;
    margin:auto
  }
  footer .contact{
  background:#FA8072;
  padding:15px 0;
  text-align:center;
  font-family:poppins,sans-serif
}
footer .text span{
  font-size:17px;
  font-weight:400;
  color:#fff
  }footer .text span a
  {
    font-weight:500;
    color:#fff
  }
footer .text span a:hover{
  text-decoration:underline
}
.scroll-button a{
  position:fixed;
  bottom:20px;
  right:20px;
  color:#fff;
  background:#FA8072;
  padding:7px 12px;
  font-size:18px;
  border-radius:6px;
  box-shadow:rgba(0,0,0,.15);
  display:none
  }
  @media(max-width:1190px)
  {
    section .content
    {
      width:85%
      }
      }
      @media(max-width:1000px)
      {
        .about .about-details
        {
          justify-content:center;
          flex-direction:column
          }
          .about .about-details .left
          {
            display:flex;
            justify-content:center;
            width:100%
            }
            .about-details .right{
              width:90%;
              margin:40px 0
              }
              .services .boxes .box
              {
                margin:20px 0;
                width:calc(100%/2 - 20px)
                }
              }
@media(max-width:900px)
{
  .about .left img{
    height:350px;
    width:350px
    }
    }
    @media(max-width:750px)
{
  nav .navbar
  {
    width:90%
  }
  nav .navbar .menu{
    position:fixed;
    left:-100%;
    top:0;
    background:#0e2431;
    height:100vh;
    max-width:400px;
    width:100%;
    padding-top:60px;
    flex-direction:column;
    align-items:center;
    transition:all .5s ease
  }
  .navbar.active .menu{
    left:0
    }nav .navbar .menu a{
      font-size:23px;
      display:block;
      color:#fff;
      margin:10px 0
    }
  nav.sticky .menu a:hover{
    color:#FA8072
    }nav .navbar .media-icons{
      display:none
    }

  nav .menu-btn,.navbar .menu .cancel-btn{
    display:block
    }.home .text-two{
      font-size:65px
    }
  .home .text-three{
    font-size:35px
    }.skills .skills-details{
      align-items:center;
      justify-content:center;
      flex-direction:column
    }
  .skills-details .text{
    width:100%;
    margin-bottom:50px
    }.skills-details .boxes{
      justify-content:center;
      align-items:center;
      width:100%
    }
  .services .boxes .box{
    margin:20px 0;
    width:100%
    }.contact .text{
      width:100%
      }
      }
      @media(max-width: 750px){
    .home .text-two{font-size:55px
      }
      .home .text-three{
        font-size:33px
        }
        .skills-details .boxes .per{
          font-size:50px;
          color:#FA8072
        }
      }
